const EMPTY_LIST = '[]';
const WIDGET_TYPES = {
  playlist: 'playlist',
  track: 'track'
}

clip = new RegExp(/[\(\[]clip[\)\]]/gi)
out_now = new RegExp(/[\(\[]out now[\)\]]/gi)

TRACK_NAME_IGNORED_COMBINATIONS = [
  clip, out_now
]

function getPlaylist() {
  tracks = '<%= @tracks %>';
  playlist = '<%= @playlist %>';

  if (tracks == '[]') {
    $('#tracks').html('No downloadable tracks were found');
    return;
  }

  if (tracks) {
    tracks = '<%= @tracks.map {|track| track['uri']} if @tracks %>';
    track_titles = '<%= @tracks.map {|track| track['title'] || 'unknown'} if @tracks %>';
    tracks_usernames = '<%= @tracks.map {|track| track['user']['username'] || ''} if @tracks %>';
    tracks_art = '<%= @tracks.map {|track| track['artwork_url'] || ''} if @tracks %>';

    tracks = JSON.parse(tracks.replace(/&quot;/g, '"'));
    track_titles = JSON.parse(track_titles.replace(/&quot;/g, '"'));
    tracks_usernames = JSON.parse(tracks_usernames.replace(/&quot;/g, '"'));
    tracks_art = JSON.parse(tracks_art.replace(/&quot;/g, '"'));

    $('#tracks').html('');
    for (var i = 0; i < tracks.length; i++) {
      className = "track--container box--" + i;
      $('#tracks').append($('<div>', {class: className}));
      $('.box--' + i).append(addTrackArt(tracks_art[i])).append(addTrackTitle(tracks_usernames[i], track_titles[i])).append("<div class=\"track--button button\">Show</div>").append(showWidget(tracks[i], 'track'));
    }
  } else if (playlist) {
    $('#tracks').html(showWidget(playlist, 'playlist'));
  } else if (!playlist) {
    $('#tracks').html('Invalid playlist specified.');
  }
};

function addTrackTitle(username, title) {
  TRACK_NAME_IGNORED_COMBINATIONS.forEach(function(combination) {
    title = title.replace(combination, "").trim();
  });
  if (title.match(/ - /)) {
    return "<h5 class=\"track--title\">" + title + "</h5>";
  } else {
    return "<h5 class=\"track--title\">" + username + " - " + title + "</h5>";
  }
}

function addTrackArt(artUrl) {
  if(artUrl){
    artUrl = artUrl.replace('-large', '-t500x500');
    return "<img class=\"track--art\" style=\"background-image: url(\'"+ artUrl + "\')\">";
  }

  else {
    return "<p> artwork not found </p>";
  }
}
getPlaylist();

// Show loader while iframe is DOMready
$(document).ready(function() {
  var iframe = $("iframe");

  if(iframe.length < 1) {
    $("#loader").hide();
    return;
  }

  iframe.on('load', function(){
       $("#loader").hide();
  });
});

$('#paginator').html('<%= j render partial: 'paginator', locals: {tracks: @tracks } if @tracks %>')
