<div class='track--modal'>Modal animation is in /BETA/</div>
<div class='main--wrapper'>
  <section class="filters--section">
    <h2 class='fiter--header'>Click to apply filters</h2>
    <div class='filters--wrapper'>
      <div class='switch-container'>
        <div class='filter--art' id="downloadable">
          <%= render 'layouts/downloadable_icon' %>
        </div>
        <h4>Downloadable</h4>
      </div>
      <div class='switch-container'>
        <div class='filter--art' id="asc_views">
          <%= render 'layouts/views_icon' %>
        </div>
        <h4 >Less Viewed</h4>
      </div>
      <div class='switch-container'>
        <div class='filter--art' id="desc_views">
           <%= render 'layouts/views_icon' %>
        </div>
        <h4  >Most Viewed</h4>
      </div>
      <div class='switch-container'>
        <div class='filter--art' id="asc_likes">
           <%= render 'layouts/hand_icon' %>
        </div>
        <h4  >Less Liked</h4>
      </div>
      <div class='switch-container'>
        <div class='filter--art' id="desc_likes">
          <%= render 'layouts/hand_icon' %>
        </div>
        <h4  >Most Liked</h4>

      </div>
    </div>
  </section>
  <section id='tracks-wrapper' class='playlist--wrapper'>
    <div id='loader' class="loader--style5" title="4">
      <p> Stay calm, will soon fade away.</p>
      <%= render 'layouts/loader_icon' %>
    </div>
    <div id='tracks'></div>
    <div id='paginator'></div>
  </section>
</div>

<script src="https://w.soundcloud.com/player/api.js" type="text/javascript"></script>
<script type="text/javascript">

  $(document).ready(function() {
    $.ajax({
      url: '/get-playlist-info',
      method: 'GET'
    });
  });

  // Show loading on AJAX request
  $(document).ajaxStart(function() {
    $("#loader").show();
  });

</script>
<script type="text/javascript"></script>
